.w-nav-overlay {
    display: none !important;
    pointer-events: none !important;
}

.cart-inner-empty-wrap{
    font-size: 0.875rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.cart-inner-empty-text{
    margin-bottom: 2rem;
}
.cart-inner-empty-wrap a{
    text-decoration: underline;
    font-weight: 600;
}